<!doctype html>{% load static %}
<html lang="en">

<head>
  {% block meta %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"> {% endblock meta %}

  <title>{% block title %}Bem vindo{% endblock title %}</title>

  <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  
  {% block scripts %}
    <script src="{% static 'vue/dist/vue.min.js' %}"></script>
    <script src="{% static 'vue-resource/dist/vue-resource.min.js' %}"></script>
    <script src="{% static 'vee-validate/dist/vee-validate.min.js' %}"></script>
    <script src="{% static 'lodash/lodash.min.js' %}"></script>
    <script src="{% static 'app/core/produtos.js' %}"></script>
    <script src="{% static 'app/main.js' %}"></script>
  {% endblock scripts %}

  {% block local_scripts %}{% endblock local_scripts %}
</head>

<body>
  {% block body %}
    <a href="{% url 'core:index' %}">testar</a>
  {% endblock body %}
</body>

</html>